/* ==========================================================================
   Base & Reset
========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  font-family: var(--font-en);
  background-color: var(--background);
  color: var(--text-primary);
  line-height: 1.5;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-09);
}

/* 基本連結樣式 */
a {
  color: inherit;
  text-decoration: none;
}

/* 基本標題樣式 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.2;
}

/* 文字選取顏色 */
::selection {
  background-color: var(--button-primary);
  color: var(--text-on-color);
}

::-moz-selection {
  background-color: var(--button-primary);
  color: var(--text-on-color);
}

/* 根據語言設定不同的字體 */
html[lang="zh-TW"] body {
  font-family: var(--font-tc);
}

html[lang="en"] body {
  font-family: var(--font-en);
}

/* 針對特定元素也可以額外指定 */
html[lang="zh-TW"] .nav-link,
html[lang="zh-TW"] .project-title,
html[lang="zh-TW"] .section-title,
html[lang="zh-TW"] .tag,
html[lang="zh-TW"] .filter-tag {
  font-family: var(--font-tc);
}

/* 如果有些元素即使在中文界面下也需要保持英文字體，可以這樣設置 */
html[lang="zh-TW"] .keep-en-font {
  font-family: var(--font-en);
}
